<header class="header">
        <div class="container">
            <div class="header_inner">

                <div class="logo">FoodGood</div>
                <nav>
                    <div class="topmenu">
                        <aside>

  



                            <a href="https://localhost:7090/Home/Index" class="home">Home</a>
                            <a href="./home/user_Account">My accoun</a>
                            <a href="./home/Gallery">Gallery</a>
                            <a href="./home/recipe_search">Advanced Search</a>
                            <a onclieck="return false;" id="open_pop_up">LogOut, <b>@ViewData["user_name_login1"]</b></a>

                        </aside>
                    </div>
                </nav>
            </div>
        </div>
    </header>
