    <header class="header">
        <div class="container">
            <div class="header_inner">

                <div class="logo">FoodGood</div>
                <nav>
                    <div class="topmenu">
                        <aside>

                            <!--   <?php
    if (isset($_COOKIE['user']) == ''):
    ?>-->

                            <a href="https://localhost:7090/Home/Index">Home</a>
                            <a href="#" class="btn" data-path="form-popup">My accoun</a>
                            <a href="./home/Gallery" class="gall">Gallery</a>
                            <a href="#" class="btn" data-path="form-popup">Advanced Search</a>
                            <a href="#" class="btn" data-path="me-popup" id="registration">Sign Up</a>
                            <a href="#" class="btn" data-path="form-popup">Log In</a>



                            <!--<?php else: ?>

                            <a href="http://localhost/myfood/index.php" class="home">Home</a>
                            <a href="file:///C:/Server/data/htdocs/myFood/MyAccount.html#">My accoun</a>
                            <a href="#">Gallery</a>
                            <a href="#">Advanced Search</a>
                            <a href="http://localhost/myfood/master/exit.php" id="open_pop_up">LogOut , <b><?=$_COOKIE['user']?></b></a>
    <?php endif;?>-->
                        </aside>
                    </div>
                </nav>
            </div>
        </div>
    </header>